<h1>Cadastro</h1>
<form action="/Usuario/Cadastra" method="post">
    <label for="nome">Login:</label>
    <input type="text" name="nome" id="nome" class="form-control" />

    <label for="senha">Senha:</label>
    <input type="password" name="senha" id="senha" class="form-control" />

    <input type="submit" value="Cadastrar" />

</form>